<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="styles.css">
    <title>2021 Golf Magazine Certificate Map</title>
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
    </script>
</head>

<body>
    <h1>Golf Map</h1>
    <div id='map' style='width: 400px; height: 300px;'></div>




    <script src="/map.js"></script>
</body>

</html> 